{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
     <!-- Title Meta -->
     <meta charset="utf-8" />
     <title>Sign In</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="A fully responsive premium admin dashboard template" />
     <meta name="author" content="Techzaa" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />

     <!-- App favicon -->
     <link rel="shortcut icon" href="assets/images/favicon.ico">

     <!-- Vendor css (Require in all Page) -->
     <link href="{% static 'assets/css/vendor.min.css' %}" rel="stylesheet" type="text/css" />

     <!-- Icons css (Require in all Page) -->
     <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />

     <!-- App css (Require in all Page) -->
     <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />

     <!-- Theme Config js (Require in all Page) -->
     <script src="{% static 'assets/js/config.js' %}"></script>
</head>

<body class="h-100">
     <div class="d-flex flex-column h-100 p-3">
          <div class="d-flex flex-column flex-grow-1">
               <div class="row h-100">
                    <div class="col-xxl-7">
                         <div class="row justify-content-center h-100">
                              <div class="col-lg-6 py-lg-5">
                                    <div class="d-flex flex-column h-100 justify-content-center">
                                        <div class="auth-logo mb-4 text-center">
                                            <a href="index.html" class="logo-dark">
                                                <img src="{% static 'assets/images/IMG-20241020-WA0012-removebg-preview.png' %}" class="img-fluid" style="height: 150px;" alt="logo dark"> <!-- Aumentei o tamanho -->
                                            </a>
                                        
                                            <a href="index.html" class="logo-light">
                                                <img src="{% static 'assets/images/IMG-20241020-WA0012-removebg-preview.png' %}" class="img-fluid" style="height: 150px;" alt="logo light"> <!-- Aumentei o tamanho -->
                                            </a>
                                        </div>

                                        

                                        <h2 class="fw-bold fs-24">Cadastre-se</h2>

                                        <p class="text-muted mt-1 mb-4">Novo na nossa plataforma? Cadastre-se agora! Leva apenas um minuto</p>

                                        <div>
                                            <div class="conta">
                                                <div class="text-center"> <!-- Centraliza o conteúdo -->
                                                    {% if status == '1' %}
                                                        <div class="alert alert-success" role="alert">
                                                            Cadastro realizado com sucesso!
                                                        </div>
                                                    {% endif %} 
                                                
                                                    {% if status == '9' %}
                                                        <div class="alert alert-danger" role="alert">
                                                            Nome e Email não podem estar vazios!
                                                        </div>
                                                    {% endif %} 
                                                
                                                    {% if status == '10' %}
                                                        <div class="alert alert-danger" role="alert">
                                                            Sua senha deve ter pelo menos 8 caracteres!
                                                        </div>
                                                    {% endif %}
                                                
                                                    {% if status == '11' %}
                                                        <div class="alert alert-danger" role="alert">
                                                            Usuário já existe no sistema!
                                                        </div>
                                                    {% endif %} 
                                                
                                                    {% if status == '4' %}
                                                        <div class="alert alert-danger" role="alert">
                                                            Erro interno do sistema!
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        
                                            <form action="{% url 'valida_cadastro_cliente' %}" class="authentication-form" method="POST">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    <label class="form-label" for="example-name">Nome</label>
                                                    <input type="name" id="example-name" name="nome" class="form-control" placeholder="Digite seu nome">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="example-email">Email</label>
                                                    <input type="email" id="example-email" name="email" class="form-control bg-" placeholder="Digite seu email">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="example-password">Senha</label>
                                                    <input type="text" id="example-password" name="senha" class="form-control" placeholder="Digite sua senha">
                                                </div>
                                                <div class="mb-3">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="checkbox-signin" onchange="toggleSubmitButton()">
                                                        <label class="form-check-label" for="checkbox-signin">Eu aceito os Termos e Condições</label>
                                                    </div>
                                                </div>
                                        
                                                <div class="mb-1 text-center d-grid">
                                                    <button id="submit-btn" class="btn btn-soft-primary" type="submit" disabled>Cadastrar</button>
                                                </div>
                                            </form>
                                        </div>
                                        
                                        <script>
                                            function toggleSubmitButton() {
                                                var checkbox = document.getElementById('checkbox-signin');
                                                var submitButton = document.getElementById('submit-btn');
                                                submitButton.disabled = !checkbox.checked;
                                            }
                                        </script>
                                        

                                        <p class="mt-auto text-danger text-center">Já tenho uma conta <a href="{% url 'login' %}" class="text-dark fw-bold ms-1">Entrar</a></p>
                                   </div>
                              </div>

                         </div>
                    </div>

                    <div class="col-xxl-5 d-none d-xxl-flex">
                         <div class="card h-100 mb-0 overflow-hidden">
                              <div class="d-flex flex-column h-100">
                                <img  src="{% static 'assets/images/young-student-learning-library.jpg' %}" alt="" class="w-100 h-100">
                            </div>
                         </div> <!-- end card -->
                    </div>
               </div>
          </div>
     </div>

    <!-- Vendor Javascript (Require in all Page) -->
    <script src="{% static 'assets/js/vendor.js' %}"></script>

    <!-- App Javascript (Require in all Page) -->
    <script src="{% static 'assets/js/app.js' %}"></script>

</body>

</html>