{% load static %}
<!DOCTYPE html>
<html lang="en" class="js">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Booki Responsive HTML Book Landing Page"
        />
        <meta name="author" content="themeyn" />

        <!-- Fav Icon  -->
        <link rel="shortcut icon" href="images/ico/favicon.png" />
        <link
            href="images/ico/favicon.ico"
            rel="shortcut icon"
            type="image/x-icon"
        />
        <link href="images/ico/favicon.ico" rel="icon" type="image/x-icon" />

        <!-- Site Title  -->
        <title>Index</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static 'assets1/css/bootstrap.css' %}" />

        <!-- icofont CSS -->
        <link rel="stylesheet" href="{% static 'lib/icofont/css/icofont.css' %}" />

        <!-- Magnific PopUP CSS -->
        <link
            rel="stylesheet"
            href="{% static 'lib/Magnific-Popup/dist/magnific-popup.css' %}"
        />

        <!-- Custom styles for this template -->
        <link href="{% static 'css/font.css' %}" rel="stylesheet" />
        <link href="{% static 'css/style.css"' %} rel="stylesheet" />

        <link id="colorcss" href="{% static 'css/color.css' %}" rel="stylesheet" />

    </head>
    <body style="background-color: white;" >
        <!-- Start .top-bar -->
        <!-- Start .header-section -->
        <div class="header-section section" id="header">
            <div class="container">
                <div class="row tab-center mobile-center">
                    <div class="col-md-6">
                        <div class="header-texts">
                            <h1>Best <span>book</span></h1>
                            <h2>to learn design</h2>
                            <h5>A BOOK BY ILIASH HOSAIN</h5>
                            <a href="#pricing" class="button nav-item"
                                >buy for $19.99</a
                            >
                            <span class="header-note">
                                <i class="icofont icofont-check"></i>Aviable in
                                PDF, kindle, iBookstore
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="header-mockup">
                            <img
                                id="mockupimage"
                                class="animate"
                                src="{% static 'images/color.png' %}"
                                alt="mockup"
                                data-right="-100"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
       
        
        
        
    </body>
</html>
